body {
  background-color: rgb(196, 186, 186);
}

.App{
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerApp{
  border: 1px rgb(128, 128, 128, 0.3) solid;
  border-radius: 20px;
  padding: 80px 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.WorkersDetails{
  width: 100%;
}

.workerDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.worker{
  margin-top: 10px;
  display: flex;
  border: 1px rgb(128, 128, 128, 0.3) solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  background-color: rgba(255, 89, 0, 0.3);
}

.pictureFrame{
  padding: 10px;
  border-radius: 100%;
  background-color:black;
}

.conainerImgAndDetailsOfWorker{
  display: flex;
  width: 100%;
}

.conainerTrashCanIcon{
  display: flex;
  flex-direction: column-reverse;
}
.img:hover {
 transform: rotate(-0.5rad);
 background-color: rgba(255, 89, 0, 0.3);
}

